<mat-card>
    <mat-card-content>
        <h2 class="text-center">List of Users</h2>
        <div class="flex">
            <form [formGroup]="searchForm">
                <mat-form-field>
                    <mat-label>Query</mat-label>
                    <input matInput type="text" formControlName="query">
                </mat-form-field>
                <button class="ml-10" mat-raised-button color="primary" (click)="searchUser()">Search</button>
            </form>
        </div>

        <table class="w-100">
            <tr>
                <th>Sr. No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Contact</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Edit Button</th>
                <th>Delete Button</th>
            </tr>
            <tr *ngFor="let user of users$ | async; index as i">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.age}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.createdAt | date:'dd/MM/yyyy'}}</td>
                <td>{{user.updatedAt | date:'dd/MM/yyyy'}}</td>
                <td><button mat-raised-button color="primary" (click)="editUser(user)">Edit</button></td>
                <td><button mat-raised-button color="warn" (click)="deleteUser(user)">Delete</button></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>