.text-center{
    text-align: center;
}


table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}


table, th, td {
    border: 1px solid black;
}

td{
    padding: 5px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ml-10{
    margin-left: 10px;
}