.title{
    background-color: #3f51b5;
    color: wheat;
    font-weight: 600;
    font-size: 1.5rem;
}

.content{
    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.button-location{
    justify-content: center !important;
}